{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% load staticfiles %}

{% block content %}

<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

<body>

     <h1>
    <span class="label label-danger">VIP Price $29.99/hour with mebership card</span> </br><h1>
     <h1>
    <span class="label label-warning">Speical foot massage $40/hour</span> </br><h1>
    <h1>
    <span class="label label-info">VIP card for foot reflexology $48.</span> </br><h1>
    <h1>
    <span class="label label-success">Unlimited visits with special pricing!</span></br><h1>




  </div>
     
 </body>
</html>


{% endblock %}


  
  
