{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% load staticfiles %}

{% block content %}

<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

<body>

  
<div>
 <h1>
    <span class="label label-danger">Foot massage:Come as Three people for $19.99/each!</span> </br><h1>
     <h1>
    <span class="label label-warning">Speical foot massage $39.99/hour</span> </br><h1>
    <h1>
    <span class="label label-info">Holiday Speical</span> </br><h1>
    <h1>
    <span class="label label-success">Unlimited visits with special pricing!</span></br><h1>





  </div>
     
 </body>
</html>


{% endblock %}


  
  
